In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
# from scipy import pearsonr
import os
from dotenv import load_dotenv

In [3]:
# %pip uninstall pymysql
# import pymysql as db
# %pip install mysql-connector-python sqlalchemy

In [4]:
import mysql.connector as db
from sqlalchemy import create_engine

In [6]:
# Retrieve database credentials from environment variables
db_host = os.getenv('HOST')
db_user = os.getenv('USERNAME')
db_pass = os.getenv('PASSWORD')
db_name = os.getenv('DATABASE')

# Create an engine instance
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_pass}@{db_host}/{db_name}')

# Example query to fetch data into a pandas DataFrame
query = "SELECT * FROM weather_table"
df = pd.read_sql(query, con=engine)


df.head(10)

,Date_or_Time,Temp_C,Dew_Point_Temp_C,Rel Hum_%,Wind_Speed_km_h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4,101.20,Fog

1. What are the key characteristics of the dataset? (e.g., number of records, features, data types)

in the following cells well take a look at the charachteristics of our dataset which will include

1. overview of the dataset using the `info()` function which gives us an idea of the column names, datatypes, none-null value count
1. shape: by using the `shape()` function well have an uderstanding of how many columns and rows are in our dataset
1. Null values: well use the `isnull()` or the `isna()` function but it retuns the whole dataframe with true or false values so we concatinate with `sum()` to  retunt the count of true or null values
1. Data types: to get all the data types well use the `dtype` function that returns all the column name and its corresponding datatype

In [12]:
# get an overview of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_or_Time       8784 non-null   object
 1   Temp_C             8784 non-null   float64
 2   Dew_Point_Temp_C   8784 non-null   float64
 3   Rel Hum_%          8784 non-null   int64
 4   Wind_Speed_km_h    8784 non-null   int64
 5   Visibility_km      8784 non-null   int64
 6   Press_kPa          8784 non-null   float64
 7   Weather_Condition  8784 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 549.1+ KB

In [14]:
# getting the shape of the dataset
rows, columns = df.shape
print(f'The dataset has {columns} columns and {rows} rows')

The dataset has 8 columns and 8784 rows

In [9]:
# getting null values per column
df.isna().sum()

Date_or_Time         0
Temp_C               0
Dew_Point_Temp_C     0
Rel Hum_%            0
Wind_Speed_km_h      0
Visibility_km        0
Press_kPa            0
Weather_Condition    0
dtype: int64

from the above cell we see there is no null values

In [11]:
# getting all datatypes
df.dtypes

Date_or_Time          object
Temp_C               float64
Dew_Point_Temp_C     float64
Rel Hum_%              int64
Wind_Speed_km_h        int64
Visibility_km          int64
Press_kPa            float64
Weather_Condition     object
dtype: object

we can also check if our dataframe contains any duplication

In [16]:
df.duplicated().sum()

0

2. Statistical summary:
    1. checking the mean mode busing the `describe()` function
    1. identifying outliers

In [19]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Temp_C,8784.0,8.798144,11.687883,-23.30,0.10,9.30,18.80,33.00
Dew_Point_Temp_C,8784.0,2.555294,10.883072,-28.50,-5.90,3.30,11.80,24.40
Rel Hum_%,8784.0,67.431694,16.918881,18.00,56.00,68.00,81.00,100.00
Wind_Speed_km_h,8784.0,14.945469,8.688696,0.00,9.00,13.00,20.00,83.00
Visibility_km,8784.0,27.505351,12.612395,0.00,24.00,25.00,25.00,48.00
Press_kPa,8784.0,101.051623,0.844005,97.52,100.56,101.07,101.59,103.65