In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats
# from scipy import pearsonr
import os
from dotenv import load_dotenv

In [3]:
# %pip uninstall pymysql
# import pymysql as db
# %pip install mysql-connector-python sqlalchemy

In [4]:
import mysql.connector as db
from sqlalchemy import create_engine

In [6]:
# Retrieve database credentials from environment variables
db_host = os.getenv('HOST')
db_user = os.getenv('USERNAME')
db_pass = os.getenv('PASSWORD')
db_name = os.getenv('DATABASE')

# Create an engine instance
engine = create_engine(f'mysql+mysqlconnector://{db_user}:{db_pass}@{db_host}/{db_name}')

# Example query to fetch data into a pandas DataFrame
query = "SELECT * FROM weather_table"
df = pd.read_sql(query, con=engine)


df.head(10)

,Date_or_Time,Temp_C,Dew_Point_Temp_C,Rel Hum_%,Wind_Speed_km_h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4,101.20,Fog

1. What are the key characteristics of the dataset? (e.g., number of records, features, data types)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_or_Time       8784 non-null   object
 1   Temp_C             8784 non-null   float64
 2   Dew_Point_Temp_C   8784 non-null   float64
 3   Rel Hum_%          8784 non-null   int64
 4   Wind_Speed_km_h    8784 non-null   int64
 5   Visibility_km      8784 non-null   int64
 6   Press_kPa          8784 non-null   float64
 7   Weather_Condition  8784 non-null   object
dtypes: float64(3), int64(3), object(2)
memory usage: 549.1+ KB

In [8]:
df.shape

(8784, 8)

In [9]:
df.isna().sum()

Date_or_Time         0
Temp_C               0
Dew_Point_Temp_C     0
Rel Hum_%            0
Wind_Speed_km_h      0
Visibility_km        0
Press_kPa            0
Weather_Condition    0
dtype: int64

In [11]:
df.dtypes

Date_or_Time          object
Temp_C               float64
Dew_Point_Temp_C     float64
Rel Hum_%              int64
Wind_Speed_km_h        int64
Visibility_km          int64
Press_kPa            float64
Weather_Condition     object
dtype: object